h1{
    text-align: center;
}
img{
    border-radius: 50%;
    background-color: rgb(182, 70, 70);
    height: 100px;
    width: 100px;
    display: flex;
    
}
button{
    align-content: center;
    background-color: rgb(11, 141, 141);
    color: rgb(12, 12, 182);
    width: 100px;
    height: 30px;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 25%;
    
    
}
.App{
    background-color: rgb(61, 184, 78);
}

#formstyle{
    position: center;
    background-color: blueviolet;
    
    
}

#result{
    color: rgb(12, 153, 106);
    text-align: center;
    background-color: rgb(173, 155, 128);
    width: 200px;
    height: 24px;
}

#num{
    color: rgb(23, 23, 150);
    text-align: center;
    background-color: rgb(63, 147, 147);
    width: 200px;
    height: 24px;
}

#parent{
    background-color: aquamarine;
    height: 100px;
    width: 200px;
    display: flex;
    
    
}

#child{
    background-color: rgb(99, 93, 84);
   display: flex;
   
}
#grandchild{
    background-color: rgb(125, 95, 154);
    display: flex;
   
}